{{template "base/head" .}}

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
					<div class="login-content">
							<div class="login-logo">
									<a href="/">
											<img class="align-content" src="/images/logo.png" alt="404">
									</a>
							</div>
							<div class="login-form">
							<br>
							Page not found<br>
							{{if .ShowFooterVersion}}<p>Application Version: {{AppVer}}</p>{{end}}
							<p>If you think this is an error, please open an issue on <a href="https://github.com/MottainaiCI/mottainai-server/issues/new">GitHub</a>.</p>
							</div>
						</div>
					</div>
</div>
</body>
{{template "base/footer" .}}
