{{template "base/head" .}}

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
          <div class="login-content">
            <div class="login-logo">
                <a href="{{BuildURI "/"}}">
                  <img class="align-content" src="{{BuildURI "/images/logo"}}" alt="404">
                </a>
            </div>
            <div class="login-form">
              <h1 class="text-center">Stop!</h1>
              <br>
              <h3 class="text-center">404 - Page not found or Forbidden!</h3>
              <br>
            </div>
          </div>
        </div>
  </div>
</body>
{{template "base/footer" .}}
