{{template "base/head" .}}

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
          <div class="login-content">
            <div class="login-logo">
                <a href="{{BuildURI "/"}}">
                  <img class="align-content" src="{{BuildURI "/images/logo"}}" alt="404">
                </a>
            </div>
            <div class="login-form">
                <h1>Woa! something went wrong :/</h1>
                {{if .ErrorMsg}}<h>An error has occurred : {{.ErrorMsg}}</p>{{end}}
                  {{if .ShowFooterVersion}}<p>Application Version: {{AppVer}}</p>{{end}}
            </div>
            </div>
            </div>
            </div>
</body>
{{template "base/footer" .}}
