<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MottainaiCI</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;display=swap" rel="stylesheet" />
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
