*.swp
*.swo
mottainai-server
mottainai-agent/mottainai-agent
mottainai-cli/mottainai-cli
mottainai-scheduler/mottainai-scheduler
mottainai-exporter/mottainai-exporter
mottainai-importer/mottainai-importer
release/
dist/
contrib/schemas/mottainai.dia.autosave
