[Unit]
Description=Mottainai Agent (Instance %i)
After=network-online.target

[Service]
WorkingDirectory=/srv/mottainai
ExecStart=/usr/bin/mottainai-agent agent --config /etc/mottainai/%i.yaml
User=mottainai-agent
Group=mottainai
Restart=always
RestartSec=3
[Install]
WantedBy=network-online.target
