<script src="{{BuildURI "/assets/js/vendor/gotime.js"}}"></script>
<script src="{{BuildURI "/assets/js/vendor/jquery.timeago.js"}}"></script>

		<div class="col-lg-12">

			<hr>
			<div class=" text-light" >
				<p>
					<small>© 2017-2019 <a href="https://github.com/MottainaiCI">Mottainai</a> Version {{AppVer}} - <a target="_blank" href="https://mottainaici.github.io/docs/">Docs</a> - </small> -
					<small>Loaded in <strong>{{LoadTimes .PageStartTime}}</strong></small>
				</p>
			</div>
		</div>

	</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>
</html>
