<script src="/assets/js/vendor/gotime.js"></script>
<script src="/assets/js/vendor/jquery.timeago.js"></script>

		<div class="col-lg-12">

			<hr>
			<div class=" text-light" >
				<p>
					<small>© 2017-2018 <a href="https://github.com/MottainaiCI">Mottainai</a> Version {{AppVer}}</small> -
					<small>Loaded in <strong>{{LoadTimes .PageStartTime}}</strong></small>
				</p>
			</div>
		</div>

	</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>
</html>
