{{/*
<html>
<body>
	<div>
*/}}
	</div>
	<footer>
		<div class="ui container">
			<div class="ui left">
				© 2017 Mottainai - Version {{AppVer}} Loaded in <strong>{{LoadTimes .PageStartTime}}</strong> 
			</div>
		</div>
	</footer>
</body>

{{template "inject/footer" .}}
</html>
