<!doctype html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head data-suburl="{{AppSubURL}}">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
	    <meta name="description" content="{{AppName}}">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="_csrf" content="{{.CSRFToken}}" />
			<meta name="_suburl" content="{{AppSubURL}}" />

	    <link rel="shortcut icon" href="/favicon.ico">

	    <link rel="stylesheet" href="/assets/css/normalize.css">
	    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	    <link rel="stylesheet" href="/assets/css/themify-icons.css">
	    <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
	    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
	    <link rel="stylesheet" href="{{AppSubURL}}/assets/scss/style.css">
	    <link href="/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
			<script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
			<script src="/assets/js/plugins.js"></script>
			<script src="/assets/js/main.js"></script>

	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

			{{template "inject/head" .}}

	</head>

<body>
