<!DOCTYPE html>
<html>
<head data-suburl="{{AppSubURL}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<meta name="referrer" content="no-referrer" />
	<meta name="_csrf" content="{{.CSRFToken}}" />
	<meta name="_suburl" content="{{AppSubURL}}" />

	<link rel="shortcut icon" href="{{AppSubURL}}/img/favicon.png" />

	<link rel="stylesheet" href="{{AppSubURL}}/css/semantic-2.2.10.min.css">
	<script src="{{AppSubURL}}/js/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="{{AppSubURL}}/css/default.css">
	<link rel="stylesheet" href="{{AppSubURL}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">

	<!-- JavaScript -->
	<script src="{{AppSubURL}}/js/semantic-2.2.10.min.js"></script>

	<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>

	{{template "inject/head" .}}
</head>
<body>

{{/*
</body>
</html>
*/}}
