
<div id="right-panel" class="right-panel">
          <!-- Header-->
          <header id="header" class="header menunavbar ">
              <div class="header-menu ">
                <div class="col-sm-7 ">

                  <div id="main-menu" class="main-menu float-left ">
                    <a href="{{BuildURI "/"}}" class="link"><img src="{{BuildURI "/images/logo_small"}}" width=32 alt="Logo"></a>

                    </div>
                </div>

              </div>

          </header><!-- /header -->
          <!-- Header-->
