{{template "base/head" .}}

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/">
                        <img class="align-content" src="/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                  {{template "base/alert" .}}

                  <form class="ui form" action="{{.Link}}" method="post">
                    {{.CSRFTokenHTML}}
                        <div class="form-group">
                            <label>UserName</label>
                            <input id="user_name"  class="form-control" name="user_name" value="{{.user_name}}" autofocus required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="password" name="password" class="form-control" type="password" autocomplete="off" value="{{.password}}" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> Remember Me
                            </label>


                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>

                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="/user/sign_up"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    </body>
