<table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
<th><i class="fa fa-circle-o"></i>&nbsp; ID</th>
      <th>
      <i class="fa fa-user"></i>&nbsp;   Name
      </th>
      <th>
      <i class="fa fa-envelope"></i>&nbsp;   Email
      </th>
      <th>
      <i class="fa fa-group"></i>&nbsp;   Role
      </th>

    </tr>
  </thead>
  <tbody>
    {{$t := $.IsAdmin}}
    {{range .Users}}
    <tr>
<td>{{.ID}}</td>
      <td>{{.Name}}
        </td>
      <td>{{.Email}}</td>
      <td>{{if .IsAdmin}}<i class="fa fa-rocket"></i>&nbsp; Admin {{else if .IsManager }}<i class="fa fa-group"></i>&nbsp; Manager{{else}} <i class="fa fa-user"></i>&nbsp;User {{end}} {{if $t}}{{template "user/auth/action" .}}{{end}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/assets/js/lib/data-table/datatables-init.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $("time.timeago").timeago();
      $("#bootstrap-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
      $('#bootstrap-data-table-export').DataTable();
    } );
</script>
