<div class="dropdown float-right">
   <button class="btn bg-dark dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
       <i class="fa fa-cog"></i>
   </button>
   <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
       <div class="dropdown-menu-content ">
          <a href="/token/delete/{{.ID}}"><button type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-trash"></i>&nbsp; Delete</button></a>
   </div>
   </div>
</div>
