<table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><i class="fa fa-key"></i>&nbsp;Token</th>
      {{if eq .IsAdmin "yes"}}
      <th><i class="fa fa-user"></i>&nbsp; User</th>
      {{end}}
    </tr>
  </thead>
  <tbody>
    {{$admin := $.IsAdmin}}
    {{range .Tokens}}
    <tr>
      <td><span >{{.Key}}</span>{{template "tokens/action" .}}</td>
      {{if eq $admin "yes"}}
      <td>{{.UserId}}</td>
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/assets/js/lib/data-table/datatables-init.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $("time.timeago").timeago();
      $("#bootstrap-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
      $('#bootstrap-data-table-export').DataTable();
    } );
</script>
