:root {
  --color-primary: #404547;
  --color-secondary: #fbfaf9;
  --color-sidebar: #f6f5f2;
  --color-sidebar-active: #d9dcbf;
  --color-accent: #6a6a6a56;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  color: var(--color-primary);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
