{{template "base/head" .}}
{{template "base/menu" .}}

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Artefacts in {{.Name}}</strong>
                            </div>
                            <div class="card-body">

                              <div class="alert alert-secondary fade show">
                                <span class="badge badge-pill badge-secondary">Tip</span>
                                Upload files to this namespace with: <code>mottainai-cli --master {{AppSubURL}} namespace upload {{.Name}} file / </code><br>
                              </div>

                      <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                          <tr>

                            <th>
                              File
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                          {{$namespace := $.Name}}
                          {{range .Artefacts}}
                          <tr>
                            <td><a href="/namespace/{{$namespace}}/{{.}}/" target="_blank">{{.}}</a></td>
                          </tr>
                          {{end}}

                        </tbody>
                      </table>
                            </div>
                        </div>
                    </div>




            <script src="assets/js/lib/data-table/datatables.min.js"></script>
            <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
            <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
            <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
            <script src="assets/js/lib/data-table/jszip.min.js"></script>
            <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
            <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
            <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
            <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
            <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
            <script src="assets/js/lib/data-table/datatables-init.js"></script>


            <script type="text/javascript">
                $(document).ready(function() {
                  $('#bootstrap-data-table-export').DataTable();
                } );
            </script>


		{{template "base/footer" .}}
