{{template "base/head" .}}
{{template "base/menu" .}}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <!-- <li class="active">Dashboard</li> -->
                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <div class="content mt-3">

          <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa  fa-play-circle text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Running</div>
                                <div class="stat-digit">{{.RunningTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-bars text-dark border-dark"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total</div>
                                <div class="stat-digit">{{.TotalTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-times-circle-o text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Errored</div>
                                <div class="stat-digit">{{.ErroredTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-pause text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Waiting</div>
                                <div class="stat-digit">{{.WaitingTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

      <!--      <script src="{{AppSubURL}}/assets/js/dashboard.js"></script> -->

{{template "base/footer" .}}
