{{template "base/head" .}}
{{template "base/menu" .}}

        <div class="content mt-3">

          <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa  fa-play-circle text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Running</div>
                                <div class="stat-digit">{{.RunningTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-bars text-dark border-dark"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Total</div>
                                <div class="stat-digit">{{.TotalTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-times-circle-o text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Errored</div>
                                <div class="stat-digit">{{.ErroredTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-pause text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Waiting</div>
                                <div class="stat-digit">{{.WaitingTasks}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-flat-color-2">
                          <div class="card-body pb-0">
                              <h4 class="mb-0">
                                  <span class="count">{{.TotalTasks}}</span>
                              </h4>
                              <p class="text-light">Created tasks</p>

                              <div class="chart-wrapper px-0" style="height:70px;" height="70"/>
                                  <canvas id="dailychart"></canvas>
                              </div>

                          </div>
                      </div>
                  </div>
                  <!--/.col-->

                  <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-5">
                                <div class="card-body pb-0">
                                    <h4 class="mb-0">
                                        <span class="count">{{.SucceededTasks}}</span>
                                    </h4>
                                    <p class="text-light">Succeeded tasks</p>

                                    <div class="chart-wrapper px-0" style="height:70px;" height="70"/>
                                        <canvas id="succeededchart"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--/.col-->

                  <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-4">
                                <div class="card-body pb-0">
                                    <h4 class="mb-0">
                                        <span class="count">{{.FailedTasks}}</span>
                                    </h4>
                                    <p class="text-light">Failed tasks</p>

                                    <div class="chart-wrapper px-0" style="height:70px;" height="70"/>
                                        <canvas id="failedchart"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--/.col-->

                        <div class="col-sm-6 col-lg-3">
                                  <div class="card text-white bg-flat-color-4">
                                      <div class="card-body pb-0">
                                          <h4 class="mb-0">
                                              <span class="count">{{.ErroredTasks}}</span>
                                          </h4>
                                          <p class="text-light">Errored tasks</p>

                                          <div class="chart-wrapper px-0" style="height:70px;" height="70"/>
                                              <canvas id="erroredchart"></canvas>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <!--/.col-->


            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

            <script src="{{BuildURI "/assets/js/chartjs.min.js"}}"></script>
            <script src="{{BuildURI "/assets/js/dashboard.js"}}"></script>
            <script src="{{BuildURI "/assets/js/widgets.js"}}"></script>

{{template "base/footer" .}}
