{{template "base/head" .}}
{{template "base/menu" .}}

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Namespaces list</strong>
                            </div>
                            <div class="card-body">
                              <div class="alert alert-secondary fade show">
                                <span class="badge badge-pill badge-secondary">Tip</span>
                                Remove namespaces with: <code>mottainai-cli --master {{AppSubURL}} namespace delete name</code> <a target="_blank" href="https://mottainaici.github.io/docs/usage/cli/#namespace">See more</a><br>
                              </div>
                      <table id="namespace-list-all" class="table table-striped table-bordered">
                        <thead>
                          <tr>

                            <th>
                              <i class="fa fa-cloud"></i>&nbsp;  Name
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                          {{range .Namespaces}}
                          <tr>
                            <td><a href="/namespaces/show/{{.}}">{{.}}</a></td>
                          </tr>
                          {{end}}

                        </tbody>
                      </table>
                            </div>
                        </div>
                    </div>




            <script src="/assets/js/lib/data-table/datatables.min.js"></script>
            <script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                  $('#namespace-list-all').DataTable();
                } );
            </script>


		{{template "base/footer" .}}
