{{template "base/head" .}}
{{template "base/menu" .}}

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Nodes list</strong>
                            </div>
                            <div class="card-body">
                      <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>
                              Action
                            </th>
                            <th>
                              Hostname
                            </th>
                            <th>
                              UUID
                            </th>
                            <th>
                              Last Report
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                          {{range .Nodes}}
                          <tr>
                            <td><a href="/nodes/delete/{{.ID}}"> <div class="ui primary button"><i class="fa fa-trash" aria-hidden="true"></i></div> </a></td>
                            <td>{{.Hostname}}</td>

                            <td><a href="/nodes/show/{{.ID}}"> {{.ID}} </a></td>
                            <td><time class="timeago" datetime="{{.LastReport}}">{{.LastReport}}</time></td>
                          </tr>
                          {{end}}

                        </tbody>
                      </table>
                            </div>
                        </div>
                    </div>




            <script src="/assets/js/lib/data-table/datatables.min.js"></script>
            <script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
            <script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
            <script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
            <script src="/assets/js/lib/data-table/jszip.min.js"></script>
            <script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
            <script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
            <script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
            <script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
            <script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
            <script src="/assets/js/lib/data-table/datatables-init.js"></script>


            <script type="text/javascript">
                $(document).ready(function() {
                  $("time.timeago").timeago();
                  $("#bootstrap-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
                  $('#bootstrap-data-table-export').DataTable();
                } );
            </script>


		{{template "base/footer" .}}
