{{template "base/head" .}}
{{template "base/menu" .}}

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Tokens list</strong>
                        </div>
                        <div class="card-body">
                          <a href="/token/create"><button class="pull-right btn btn-success btn-flat m-b-30 m-t-30">Create</button></a>
                          {{template "tokens/single" .}}
                        </div>
                    </div>
                </div>

		{{template "base/footer" .}}
