{{template "base/head" .}}
{{template "base/menu" .}}


<div class="breadcrumbs">

    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Plan {{.Plan.Name}}</h1>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">{{.Plan.ID}}</li>
                </ol>
            </div>
        </div>
    </div>

</div>



                            <div class="col-md-6">
                              <aside class="profile-nav alt">
                                  <section class="card">
                                      <div class="card-header user-header alt bg-dark">
                                          <div class="media">
                                            <a href="{{BuildURI "/tasks"}}">
                                                <i class="align-self-center rounded-circle mr-3  fa fa-info text-light"></i>
                                              </a>
                                              <div class="media-body">
                                                  <h4 class="text-light display-6">{{if .Plan.Source}}Source repository: {{.Plan.Source}}{{end}}
                                                  <span class="pull-right">{{if .Plan.Directory}}Directory: {{.Plan.Directory}}{{end}}</span></h4>
                                                  {{template "plans/action" .Plan}}
                                              </div>
                                          </div>
                                      </div>


                                      <ul class="list-group list-group-flush">

                                        {{if .Plan.Type}}
                                         <li class="list-group-item">
                                             <i class="fa fa-cogs"></i> Type <span class="badge  pull-right">{{.Plan.Type}}</span>
                                         </li>
                                         {{end}}
                                         {{if .Plan.Image}}
                                          <li class="list-group-item">
                                               <i class="fa fa-cloud"></i> Image <span class="badge  pull-right">{{.Plan.Image}}</span>
                                          </li>
                                          {{end}}

                                          {{if .Plan.Namespace}}

                                          <li class="list-group-item">
                                            <i class="fa fa-download"></i> Artifacts synced from namespace <span class="badge  pull-right"><a href="{{BuildURI "/namespaces/show/"}}{{.Plan.Namespace}}" target="_blank">{{.Plan.Namespace}}</a></span>
                                          </li>
                                          {{end}}
                                          {{if .Plan.Planned}}

                                          <li class="list-group-item">
                                            <i class="fa fa-clock-o"></i> Planned on <span class="badge  pull-right">{{.Plan.Planned}}</span>
                                          </li>
                                          {{end}}
                                    
                                          {{if .Plan.TagNamespace}}

                                          <li class="list-group-item">
                                            <i class="fa fa-tag"></i> Automatic tag to <span class="badge badge-warning"><a href="{{BuildURI "/namespaces/show/"}}{{.Plan.TagNamespace}}" target="_blank">{{.Plan.TagNamespace}}</a></span> on <span class="badge badge-success">success</span>
                                          </li>
                                          {{end}}

                                        </ul>

                                  </section>
                              </aside>
                            </div>
                            <!-- /# column -->

 {{if .Plan.Script}}
 <div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4><span class="badge badge-dark badge-pill"><i class="fa fa-terminal"></i></span> Commands</h4>
        </div>
        <div class="card-body">


      <ul class="list-group list-group-flush">
      {{range .Plan.Script}}
          <li class="list-group-item"><i class="fa fa-caret-right"></i> <code>{{.}}</code></li>
      {{end}}
    </ul>
</div>
</div>
</div>
{{end}}

<script src="{{BuildURI "/assets/js/lib/data-table/datatables.min.js"}}"></script>
<script src="{{BuildURI "/assets/js/lib/data-table/dataTables.bootstrap.min.js"}}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#artefacts-table').DataTable();
  $("time.timeago").timeago();
 $.ajax({
   url: "{{BuildURI "/api/tasks/"}}{{.Plan.ID}}",
   })
   .done(function( data ) {
     $('#as_json').html("<code>"+JSON.stringify(data)+"</code>");
   });
} );
</script>



{{template "base/footer" .}}
