{{template "base/head" .}}
{{template "base/menu" .}}
<script src="{{AppSubURL}}/assets/js/vendor/jquery-2.1.4.min.js"></script>

{{if eq .Task.Status "running"}}
<script src="{{AppSubURL}}/assets/js/vendor/jquery.terminal.min.js"></script>
<script src="{{AppSubURL}}/assets/js/vendor/unix_formatting.js"></script>
<link rel="stylesheet" href="{{AppSubURL}}/assets/css/jquery.terminal.min.css">
<style>
@keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-webkit-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-ms-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-moz-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
.terminal {
    --background: #000;
    --color: #0c0;
    text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cmd .cursor.blink {
    -webkit-animation: 1s blink infinite;
    animation: 1s blink infinite;
    -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
    box-shadow: 0 0 0 rgba(0,100,0,50);
    border: none;
    margin: 0;
}
</style>

<script type='text/javascript'>
	  $(document).ready(function() {
      var pos = 0;
      var build_data;
      var save_state = [];
      var task_status = "{{.Task.Status}}";

      var term = $('#terminal').terminal(function(command, term) {},{
          greetings: '',
          name: 'build',
          height: 600,
      });
      term.pause();
      save_state.push(term.export_view()); // save initial state
      $(window).on('popstate', function(e) {
          if (save_state.length) {
              term.import_view(save_state[history.state || 0]);
          }
      });
      getData();
      if (task_status != "done" && task_status != "error" && task_status != "stop") {
            setInterval(getData, 6000);
      }

      function getData() {

        $.ajax({
            url: "/api/tasks/{{.Task.ID}}",
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               var task = JSON.parse(data);
               if (task.status != task_status) {
                  location.reload();
               }
          });

        $.ajax({
            url: "/api/tasks/stream_output/{{.Task.ID}}/"+pos,
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               build_data += data;
               if (data.length > 0) {
                  pos += data.length;
                  term.echo(" "+data.trim());
               }
          });
        }
		});
</script>
{{end}}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Task</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">{{.Task.ID}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class='card-body bg-dark'>

                          <div class="dropdown float-right">
                             <button class="btn bg-dark dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                 <i class="fa fa-cog"></i>
                             </button>
                             <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                 <div class="dropdown-menu-content ">
                                <a href="/tasks/delete/{{.Task.ID}}"><button type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-trash"></i>&nbsp; Delete</button></a>
                                <a href="/tasks/stop/{{.Task.ID}}"><button type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-stop-circle"></i>&nbsp; Stop</button></a>
                                <a href="/tasks/start/{{.Task.ID}}"><button type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-play-circle"></i>&nbsp; Start</button></a>
                                <a href="/tasks/clone/{{.Task.ID}}"><button type="button" class="btn btn-dark btn-lg btn-block"><i class="fa fa-copy"></i>&nbsp; Clone</button></a>

                                 </div>
                             </div>
                         </div>

                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fa fa-info text-light"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Result: <span class='badge badge-{{if eq .Task.Result "success"}}success{{end}}{{if eq .Task.Result "error"}}danger{{end}}'>{{.Task.Result}}</span> </div>
                                    <div class="stat-text">Status: <span class="badge badge-info">{{.Task.Status}}</span> </div>
                                    <div class="stat-text">Exit with: {{.Task.ExitStatus}}</div>
                                    {{if .Task.Output}}<div class="stat-text">Output: <span class="badge badge-primary">{{.Task.Output}}</span></div>{{end}}

                                </div>
                            </div>
                        </div>
                    </div>
</div>

<!-- /# column -->
<div class="col-lg-12">
   <div class="card">
       <div class="card-header">
           <h4>Details</h4>
       </div>
       <div class="card-body">
           <div class="custom-tab">

               <nav>
                   <div class="nav nav-tabs" id="nav-tab" role="tablist">
                       <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Details</a>
                       <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#artefacts" role="tab" aria-controls="artefacts" aria-selected="false">Artefacts</a>
                       <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="false">Log</a>

                       <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">JSON</a>
                       <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">CLI</a>

                   </div>
               </nav>
               <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                   <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                    <p>
                      <p>
                      {{if .Task.TaskName}}Type: {{.Task.TaskName}}<br>{{end}}
                      {{if .Task.Image}}Image: {{.Task.Image}}<br>{{end}}
                      {{if .Task.Source}}Source: {{.Task.Source}}<br>{{end}}
                      {{if .Task.Directory}}Directory: {{.Task.Directory}}<br>{{end}}
                      {{if .Task.Script}}Script: {{.Task.Script}}<br>{{end}}
                      {{if .Task.Namespace}}Artifacts synced from namespace: <span class="badge badge-warning"><a href="/namespaces/show/{{.Task.Namespace}}" target="_blank">{{.Task.Namespace}}</a></span><br>{{end}}
                      {{if .Task.TagNamespace}}Tag to <span class="badge badge-warning"><a href="/namespaces/show/{{.Task.TagNamespace}}" target="_blank">{{.Task.TagNamespace}}</a></span> on <span class="badge badge-success">success</span><br>{{end}}

                      Artefacts url: <code>{{AppSubURL}}/artefact/{{.Task.ID}}/</code></p>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log">
                   <p>
                      <a href="/artefact/{{.Task.ID}}/build_{{.Task.ID}}.log" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-code"></i>&nbsp; Get Raw</button> </a>
                   </p>
                  </div>
                   <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                    <p id="as_json"></p>
                    <a href="/api/tasks/{{.Task.ID}}" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-code"></i>&nbsp; Get Raw</button> </a>
                   </div>
                   <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                     <p>
                       {{if eq .Task.Status "running"}}
                        Attach to live log with: <code>mottainai-cli --master {{AppSubURL}} task attach {{.Task.ID}} </code><br>
                       {{end}}
                       Download log with: <code>mottainai-cli --master {{AppSubURL}} task log {{.Task.ID}} > build.log </code><br>
                       Show task info with: <code>mottainai-cli --master {{AppSubURL}} task show {{.Task.ID}}</code>
                     </p>
                   </div>
                   <div class="tab-pane fade" id="artefacts" role="tabpanel" aria-labelledby="artefacts">
                     <div class="alert alert-secondary fade show">
                       <span class="badge badge-pill badge-secondary">Tip</span>
                       Create or tag a namespace with this content: <code>mottainai-cli --master {{AppSubURL}} namespace tag mybeautifulpony --from {{.Task.ID}}</code><br>
                     </div>
                     <table id="bootstrap-data-table" class="table table-striped table-bordered">
                       <thead>
                         <tr>
                           <th>
                             File
                           </th>
                       </tr>
                       </thead>
                       <tbody>
                         {{$t := $.Task.ID}}
                         {{range .Artefacts}}
                         <tr>
                           <td><a href="/artefact/{{$t}}/{{.}}/" target="_blank">{{.}}</a></td>
                         </tr>
                         {{end}}

                       </tbody>
                     </table>
                     <a href="/tasks/artefacts/{{.Task.ID}}" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-link"></i>&nbsp; Browse</button> </a>

                 </div>


               </div>

           </div>
       </div>
   </div>
</div>
<!-- /# column -->

{{if eq .Task.Status "running"}}
  <div class="content mt-3">
     <div class="animated fadeIn">
         <div class="card">
             <div class="card-header">
                 <i class="mr-2 fa fa-align-justify"></i>
                 <strong class="card-title">Log</strong>
             </div>
             <div class="card-body ">
               <p>
                 Attach to live log with: <code>mottainai-cli --master {{AppSubURL}} task attach {{.Task.ID}} </code>
               </p>
             <div class="ui row" id="terminal"></div>
             </div>
         </div>
      </div><!-- .animated -->
   </div><!-- .content -->
 {{end}}

 <script src="/assets/js/lib/data-table/datatables.min.js"></script>
 <script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
 <script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
 <script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
 <script src="/assets/js/lib/data-table/jszip.min.js"></script>
 <script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
 <script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
 <script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
 <script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
 <script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
 <script src="/assets/js/lib/data-table/datatables-init.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#bootstrap-data-table-export').DataTable();

 $.ajax({
     url: "/api/tasks/{{.Task.ID}}",
   })
   .done(function( data ) {console.log(data);
     $('#as_json').html("<code>"+JSON.stringify(data)+"</code>");
   });
} );
</script>



{{template "base/footer" .}}
