{{template "base/head" .}}
{{template "base/menu" .}}

{{if eq .Task.Status "running"}}
 <script src="{{BuildURI "/assets/js/vendor/jquery.terminal.min.js"}}"></script>
<script src="{{BuildURI "/assets/js/vendor/unix_formatting.js"}}"></script>
<link rel="stylesheet" href="{{BuildURI "/assets/css/jquery.terminal.min.css"}}">
{{end}}
<style>
@keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-webkit-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-ms-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-moz-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
.terminal {
    --background: #000;
    --color: #0c0;
    text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cmd .cursor.blink {
    -webkit-animation: 1s blink infinite;
    animation: 1s blink infinite;
    -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
    box-shadow: 0 0 0 rgba(0,100,0,50);
    border: none;
    margin: 0;
}
</style>

<script type='text/javascript'>
  jQuery(document).ready(function($) {
      var save_state = [];
      var task_status = "{{.Task.Status}}";

     {{if eq .Task.Status "running"}}
        var term = $('#terminal').terminal(function(command, term) {},{
            greetings: '',
            name: 'build',
            height: 250,
        });
        term.pause();
        save_state.push(term.export_view()); // save initial state
        $(window).on('popstate', function(e) {
            if (save_state.length) {
                term.import_view(save_state[history.state || 0]);
            }
        });
      {{end}}
      getData();
      if (task_status != "done" && task_status != "error" && task_status != "stop") {
            setInterval(getData, 1000);
      }

      function getData() {

        $.ajax({
          url: "{{BuildURI "/api/tasks/"}}{{.Task.ID}}",
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               var task = JSON.parse(data);
               if (task.status != task_status) {
                  location.reload();
               }
          });
          {{if eq .Task.Status "running"}}
        $.ajax({
          url: "{{BuildURI "/api/tasks/tail_output/"}}{{.Task.ID}}/"+3000,
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               if (data.length > 0) {
                  term.clear();
                  term.echo(" "+data.trim());
               }
          });
          {{end}}
        }
		});
</script>


<div class="breadcrumbs">

    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Task {{.Task.Name}}</h1>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">{{.Task.ID}}</li>
                </ol>
            </div>
        </div>
    </div>

</div>



{{if eq .Task.Status "running"}}
  <div class="content mt-3">
     <div class="animated fadeIn">
         <div class="card">
             <div class="card-header">
                 <i class="mr-2 fa fa-align-justify"></i>
                 <strong class="card-title">Log</strong>
             </div>
             <div class="card-body ">
               <p>
                 Attach to live log with: <code>mottainai-cli --master {{AppURL}} task attach {{.Task.ID}} </code>
               </p>
             <div class="ui row" id="terminal"></div>
             </div>
         </div>
      </div><!-- .animated -->
   </div><!-- .content -->
 {{end}}


                            <div class="col-md-6">
                              <aside class="profile-nav alt">
                                  <section class="card">
                                      <div class="card-header user-header alt bg-dark">
                                          <div class="media">
                                            <a href="{{BuildURI "/tasks"}}">
                                                <i class="align-self-center rounded-circle mr-3  fa fa-info text-light"></i>
                                              </a>
                                              <div class="media-body">
                                                  <h4 class="text-light display-6">{{if .Task.Source}}Source repository: {{.Task.Source}}{{end}}
                                                  <span class="pull-right">{{if .Task.Directory}}Directory: {{.Task.Directory}}{{end}}</span></h4>
                                                  {{template "tasks/action" .Task}}
                                              </div>
                                          </div>
                                      </div>


                                      <ul class="list-group list-group-flush">

                                        {{if .TaskOwner }}
                                        <li class="list-group-item">
                                          <i class="fa fa-user-o"></i> Created by: <span class="pull-right badge "><a href="{{BuildURI "/user/show/"}}{{.TaskOwner.ID}}" target="_blank"> {{.TaskOwner.Name}} </a></span>
                                          </li>
                                        {{end}}

                                        {{if .TaskNode }}
                                        <li class="list-group-item">
                                          <i class="fa fa-sitemap"></i> Node used: <span class="pull-right badge "><a href="{{BuildURI "/nodes/show/"}}{{.TaskNode.ID}}" target="_blank"> {{if .TaskNode.Hostname}} {{.TaskNode.Hostname}} {{else}} {{.TaskNode.ID}}  {{end}}</a></span>
                                          </li>
                                        {{end}}

                                        {{if .Task.Status}}
                                        <li class="list-group-item">
                                            <i class="fa  fa-chevron-right"></i> Status: <span class="pull-right badge badge-info">{{.Task.Status}}</span>
                                          </li>
                                        {{end}}

                                        {{if .Task.Result}}
                                        <li class="list-group-item">
                                            <i class="fa  fa-chevron-right"></i> Result: <span class='pull-right badge badge-{{if eq .Task.Result "success"}}success{{end}}{{if eq .Task.Result "error"}}danger{{end}}'>{{.Task.Result}}</span>
                                        </li>
                                        {{end}}

                                        {{if .Task.ExitStatus}}
                                        <li class="list-group-item">
                                            <i class="fa  fa-chevron-right"></i> Exit with: <span class="pull-right badge badge-info">{{.Task.ExitStatus}}</span>
                                          </li>
                                        {{end}}

                                        {{if .Task.Output}}
                                        <li class="list-group-item">
                                            <i class="fa  fa-chevron-right"></i> Extra output: <span class="pull-right badge badge-info">{{.Task.Output}}</span>
                                          </li>
                                        {{end}}
                                        {{if .WaitingTime}}
                                        <li class="list-group-item">
                                            <i class="fa fa-clock-o"></i> Waited for  <span class="badge pull-right">{{.WaitingTime}}s</span>
                                        </li>
                                        {{end}}
                                        {{if .Task.CreatedTime}}
                                        <li class="list-group-item">
                                            <i class="fa fa-clock-o"></i> Created <span class="badge  pull-right"><time class="timeago" datetime="{{.Task.CreatedTime}}">{{.Task.CreatedTime}}</time></span>
                                        </li>
                                        {{end}}

                                        {{if .Task.EndTime}}

                                        <li class="list-group-item">
                                            <i class="fa fa-clock-o"></i> Finished <span class="badge pull-right"><time class="timeago" datetime="{{.Task.EndTime}}">{{.Task.EndTime}}</time></span>
                                        </li>
                                        {{end}}

                                        {{if .Task.StartTime}}
                                        <li class="list-group-item">
                                            <i class="fa fa-clock-o"></i> Started <span class="badge pull-right"><time class="timeago" datetime="{{.Task.StartTime}}">{{.Task.StartTime}}</time></span>
                                        </li>
                                        {{end}}
                                        {{if .Task.Type}}
                                         <li class="list-group-item">
                                             <i class="fa fa-cogs"></i> Type <span class="badge  pull-right">{{.Task.Type}}</span>
                                         </li>
                                         {{end}}
                                         {{if .Task.Image}}
                                          <li class="list-group-item">
                                               <i class="fa fa-cloud"></i> Image <span class="badge  pull-right">{{.Task.Image}}</span>
                                          </li>
                                          {{end}}

                                          {{if .Task.Namespace}}

                                          <li class="list-group-item">
                                            <i class="fa fa-download"></i> Artifacts synced from namespace <span class="badge  pull-right"><a href="{{BuildURI "/namespaces/show/"}}{{.Task.Namespace}}" target="_blank">{{.Task.Namespace}}</a></span>
                                          </li>
                                          {{end}}

                                          <li class="list-group-item">
                                            <i class="fa fa-external-link"></i> Artefacts url <span class="badge pull-right r-activity"><code>{{BuildURI "/artefact/"}}{{.Task.ID}}/</code></span>
                                          </li>
                                          {{if .Task.TagNamespace}}

                                          <li class="list-group-item">
                                            <i class="fa fa-tag"></i> Automatic tag to <span class="badge badge-warning"><a href="{{BuildURI "/namespaces/show/"}}{{.Task.TagNamespace}}" target="_blank">{{.Task.TagNamespace}}</a></span> on <span class="badge badge-success">success</span>
                                          </li>
                                          {{end}}

                                        </ul>

                                  </section>
                              </aside>
                            </div>
                            <!-- /# column -->

 {{if .Task.Script}}
 <div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4><span class="badge badge-dark badge-pill"><i class="fa fa-terminal"></i></span> Commands</h4>
        </div>
        <div class="card-body">


      <ul class="list-group list-group-flush">
      {{range .Task.Script}}
          <li class="list-group-item"><i class="fa fa-caret-right"></i> <code>{{.}}</code></li>
      {{end}}
    </ul>
</div>
</div>
</div>
{{end}}

<div class="col-lg-6">
   <div class="card">
       <div class="card-header">
           <h4><span class="badge badge-dark badge-pill"><i class="fa fa-briefcase"></i></span> Details</h4>
       </div>
       <div class="card-body">
           <div class="custom-tab">

               <nav>
                   <div class="nav nav-tabs" id="nav-tab" role="tablist">
                       <a class="nav-item nav-link active" id="custom-nav-contact-tab" data-toggle="tab" href="#artefacts" role="tab" aria-controls="artefacts" aria-selected="false">Artefacts</a>
                       <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="false">Log</a>

                       <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">JSON</a>
                       <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">CLI</a>

                   </div>
               </nav>
               <div class="tab-content pl-3 pt-2" id="nav-tabContent">

                  <div class="tab-pane fade " id="log" role="tabpanel" aria-labelledby="log">
                   <p>
                   <a href="{{BuildURI "/artefact/"}}{{.Task.ID}}/build_{{.Task.ID}}.log" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-code"></i>&nbsp; Get Raw</button> </a>
                   </p>
                  </div>
                   <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                    <p id="as_json"></p>
                    <a href="{{BuildURI "/api/tasks/"}}{{.Task.ID}}" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-code"></i>&nbsp; Get Raw</button> </a>

                    <a href="{{BuildURI "/api/tasks/"}}{{.Task.ID}}.yaml" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-code"></i>&nbsp; Get YAML</button> </a>
                    </div>
                   <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                     <p>
                       {{if eq .Task.Status "running"}}
                        Attach to live log with: <code>mottainai-cli --master {{AppURL}} task attach {{.Task.ID}} </code><br>
                       {{end}}
                       Download log with: <code>mottainai-cli --master {{AppURL}} task log {{.Task.ID}} > build.log </code><br>
                       Show task info with: <code>mottainai-cli --master {{AppURL}} task show {{.Task.ID}}</code>
                     </p>
                   </div>
                   <div class="tab-pane fade show active" id="artefacts" role="tabpanel" aria-labelledby="artefacts">
                     <div class="alert alert-secondary fade show">
                       <span class="badge badge-pill badge-secondary">Tip</span>
                       Create or tag a namespace with this content: <code>mottainai-cli --master {{AppURL}} namespace tag mybeautifulpony --from {{.Task.ID}}</code><br>
                     </div>
                     <table id="artefacts-table" class="table table-striped table-bordered">
                       <thead>
                         <tr>
                           <th>
                             File
                           </th>
                       </tr>
                       </thead>
                       <tbody>
                         {{$t := $.Task.ID}}
                         {{range .Artefacts}}
                         <tr>
                           <td><a href="{{BuildURI "/artefact/"}}{{$t}}/{{.}}" target="_blank">{{.}}</a></td>
                         </tr>
                         {{end}}

                       </tbody>
                     </table>
                     <a href="{{BuildURI "/tasks/artefacts/"}}{{.Task.ID}}" target="_blank"> <button type="button" class="btn btn-outline-link"><i class="fa fa-link"></i>&nbsp; Browse</button> </a>

                 </div>


               </div>

           </div>
       </div>
   </div>
</div>
<!-- /# column -->



<script src="{{BuildURI "/assets/js/lib/data-table/datatables.min.js"}}"></script>
<script src="{{BuildURI "/assets/js/lib/data-table/dataTables.bootstrap.min.js"}}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#artefacts-table').DataTable();
  $("time.timeago").timeago();
 $.ajax({
   url: "{{BuildURI "/api/tasks/"}}{{.Task.ID}}",
   })
   .done(function( data ) {
     $('#as_json').html("<code>"+JSON.stringify(data)+"</code>");
   });
} );
</script>



{{template "base/footer" .}}
