{{template "base/head" .}}
{{template "base/menu" .}}

{{if eq .Task.Status "running"}}
 <script src="{{BuildURI "/assets/js/vendor/jquery.terminal.min.js"}}"></script>
<script src="{{BuildURI "/assets/js/vendor/unix_formatting.js"}}"></script>
<link rel="stylesheet" href="{{BuildURI "/assets/css/jquery.terminal.min.css"}}">
{{end}}
<style>
@keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-webkit-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-ms-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
@-moz-keyframes blink {
    50% {
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }
}
.terminal {
    --background: #000;
    --color: #0c0;
    text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cmd .cursor.blink {
    -webkit-animation: 1s blink infinite;
    animation: 1s blink infinite;
    -webkit-box-shadow: 0 0 0 rgba(0,100,0,50);
    box-shadow: 0 0 0 rgba(0,100,0,50);
    border: none;
    margin: 0;
}
</style>

<script type='text/javascript'>
  jQuery(document).ready(function($) {
      var save_state = [];
      var task_status = "{{.Task.Status}}";

     {{if eq .Task.Status "running"}}
        var term = $('#terminal').terminal(function(command, term) {},{
            greetings: '',
            name: 'build',
            height: 250,
        });
        term.pause();
        save_state.push(term.export_view()); // save initial state
        $(window).on('popstate', function(e) {
            if (save_state.length) {
                term.import_view(save_state[history.state || 0]);
            }
        });
      {{end}}
      getData();
      if (task_status != "done" && task_status != "error" && task_status != "stop") {
            setInterval(getData, 1000);
      }

      function getData() {

        $.ajax({
          url: "{{BuildURI "/api/tasks/"}}{{.Task.ID}}",
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               var task = JSON.parse(data);
               if (task.status != task_status) {
                  location.reload();
               }
          });
          {{if eq .Task.Status "running"}}
        $.ajax({
          url: "{{BuildURI "/api/tasks/tail_output/"}}{{.Task.ID}}/"+3000,
            beforeSend: function( xhr ) {
              xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            }
          })
          .done(function( data ) {
               if (data.length > 0) {
                  term.clear();
                  term.echo(" "+data.trim());
               }
          });
          {{end}}
        }
		});
</script>


 <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="card">
          <div class="card-header bg-dark">

              <div class="content  text-light">

                <div class="row">

                  <div class="col-md-6">
                    {{template "tasks/info/basic" .}}
                  </div>
                  <div class="col-md-6">
                    <span class="pull-right">{{template "tasks/info/artefacts" .}}</span>
                  </div>
                </div>
                <div class="row">
                   <div class="col-md-6">
                     {{template "tasks/info/generic" .}}
                   </div>
                   <div class="col-md-6">
                     <span class="pull-right">{{template "tasks/info/extra" .}}</span>
                   </div>
                </div>

                 <!--<div class="row">
                   <div class="col-md-12">
                     {{template "tasks/info/artefacts" .}}
                   </div>
                </div>-->

             </div>
            <span class="pull-right">{{template "tasks/action" .Task}}  </span>
          </div>

          {{if eq .Task.Status "waiting"}}
          <div class="card-body text-white bg-warning">
          {{else if eq .Task.Status "running"}}
          <div class="card-body text-white bg-flat-color-1">
          {{else if eq .Task.Result "error"}}
          <div class="card-body text-white bg-danger">
          {{else if eq .Task.Result "failed"}}
          <div class="card-body text-white bg-danger">
          {{else if eq .Task.Result "success"}}
          <div class="card-body text-white bg-success">
          {{else}}
          <div class="card-body text-white bg-dark">
          {{end}}


            {{template "tasks/info/detail" .}}
          </div>
  </div><!-- .animated -->
</div><!-- .content -->



{{template "base/footer" .}}
