<div class="col-sm-1">
 <strong class="card-title"><i class="fa fa-filter"></i> Filter tasks:</strong>
</div>
<div class="col-sm-11">
    <a href="{{BuildURI "/tasks/my"}}"><button class="pull-left btn btn-secondary btn-flat m-b-30 m-t-30">Started by me</button></a>
    <a href="{{BuildURI "/tasks/status/running"}}"><button class="pull-left btn btn-secondary btn-flat m-b-30 m-t-30">Running</button></a>
    <a href="{{BuildURI "/tasks/status/waiting"}}"><button class="pull-left btn btn-secondary btn-flat m-b-30 m-t-30">Waiting</button></a>
    <a href="{{BuildURI "/tasks/status/stopped"}}"><button class="pull-left btn btn-secondary btn-flat m-b-30 m-t-30">Stopped</button></a>

    <a href="{{BuildURI "/tasks/add"}}"><button class="pull-right btn btn-success btn-flat m-b-30 m-t-30">Create</button></a>
</div>
