<tr class='elem'>


      <td class='res-{{if eq .Status "running"}}info{{else if eq .Result "success"}}success
          {{else if eq .Result "error"}}warning
            {{else if eq .Result "failed"}}fail
            {{else}}unkn{{end}}'>
          <a href="{{BuildURI "/tasks/display/"}}{{.ID}}">
        {{if eq .Status "running"}}
            <i class="fa fa-circle-o-notch fa-spin font-info" aria-hidden="true"></i>
            {{else if eq .Result "success"}}
                <i class="fa fa-check-circle font-success" aria-hidden="true"></i>
              {{else if eq .Result "error"}}
                <i class="fa fa-exclamation-triangle font-warning" aria-hidden="true"></i>
                {{else if eq .Result "failed"}}
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                {{else}}
                <i class="fa fa-question" aria-hidden="true"></i>
                {{end}}
    <span class="badge" ><h6> {{.ID}} </h6></span> </a>  </td>

  <td>{{.Source}}</td>
  <td>{{.Directory}}</td>
  <td>{{.Image}}</td>

  <td data-order="{{.StartTime}}"><time class="timeago" datetime="{{.StartTime}}">{{.StartTime}}</time>{{template "tasks/action" .}}</td>

  <!--<td><time class="timeago" datetime="{{.CreatedTime}}">{{.CreatedTime}}</time></td>
  <td><time class="timeago" datetime="{{.EndTime}}">{{.EndTime}}</time></td>-->
</tr>
