
<table id="all-tasks" class="table">
  {{template "tasks/table_head" .}}
  <tbody>
    {{range .Tasks}}
      {{template "tasks/row" .}}
    {{end}}
  </tbody>
</table>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/assets/js/lib/data-table/datatables-init.js"></script>

<script type="text/javascript">
$(document).ready(function() {

 $.extend( true, $.fn.dataTable.defaults, { "language": { "search": "Filter (regex)" }, "bFilter": true, "oSearch": { "sSearch": "", "bRegex": true } });
 $("time.timeago").timeago();
 $("#all-tasks").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
 $('#all-tasks').DataTable( {"order": [[ 4, 'desc' ]]});
 $("#taskuser-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
 $('#taskuser-data-table').DataTable({"order": [[ 4, 'desc' ]]});
} );
</script>
