<table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        Action
      </th>
      <th>
        ID
      </th>
      <th>
        Source
      </th>
      <th>
        Directory
      </th>
      <th>
        Image
      </th>
      <th>
        State
      </th>
      <th>
        Result
      </th>
      <th>
        Created
      </th>

      <th>
        End
      </th>
    </tr>
  </thead>
  <tbody>

    {{range .Tasks}}
    <tr>
      <td>
        <a href="/tasks/delete/{{.ID}}">
          <div class="ui primary button"><i class="fa fa-trash" aria-hidden="true"></i></div>
        </a>
        <a href="/tasks/stop/{{.ID}}">
          <div class="ui primary button"><i class="fa fa-stop-circle" aria-hidden="true"></i></div>
        </a>
        <a href="/tasks/start/{{.ID}}">
          <div class="ui primary button"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
        </a>
      </td>
      <td>
        <a href="/tasks/display/{{.ID}}">

      <span >{{.ID}}</span> </a></td>

      <td>{{.Source}}</td>
      <td>{{.Directory}}</td>
      <td>{{.Image}}</td>

      <td>{{if eq .Status "running"}}
          <i class="ti-reload" aria-hidden="true"></i>
        {{else if eq .Status "waiting"}}
          <i class="ti-control-pause" aria-hidden="true"></i>
          {{else if eq .Status "stop"}}
          <i class="ti-hand-stop" aria-hidden="true"></i>
          {{else if eq .Status "stopped"}}
          <i class="ti-control-stop" aria-hidden="true"></i>
          {{else if eq .Status "done"}}
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          {{else if eq .Status "setup"}}
          <i class="ti-loop" aria-hidden="true"></i>
          {{else}}
          <i class="fa fa-question" aria-hidden="true"></i>
          {{end}}
      </td>
      <td>
        {{if eq .Result "success"}}
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          {{else if eq .Result "error"}}
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{else if eq .Result "failed"}}
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            {{else}}
            <i class="fa fa-question" aria-hidden="true"></i>
            {{end}}
          </td>
      <td><time class="timeago" datetime="{{.CreatedTime}}">{{.CreatedTime}}</time></td>
      <td><time class="timeago" datetime="{{.EndTime}}">{{.EndTime}}</time></td>
    </tr>
    {{end}}

  </tbody>
</table>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/assets/js/lib/data-table/datatables-init.js"></script>

<script type="text/javascript">
$(document).ready(function() {
 $("time.timeago").timeago();
 $("#bootstrap-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
 $('#bootstrap-data-table-export').DataTable();
} );
</script>
