
<table id="all-tasks" class="table">
  {{template "tasks/table_head" .}}
  <tbody>
    {{range .Tasks}}
      {{template "tasks/row" .}}
    {{end}}
  </tbody>
</table>
<script src="{{BuildURI "/assets/js/lib/data-table/datatables.min.js"}}"></script>
<script src="{{BuildURI "/assets/js/lib/data-table/dataTables.bootstrap.min.js"}}"></script>
<script type="text/javascript">
$(document).ready(function() {

 $.extend( true, $.fn.dataTable.defaults, { "language": { "search": "Filter (regex)" }, "bFilter": true, "oSearch": { "sSearch": "", "bRegex": true } });
 $("time.timeago").timeago();
 $("#all-tasks").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
 $('#all-tasks').DataTable( {"order": [[ 4, 'desc' ]], stateSave: true, stateDuration: -1});
} );
</script>
