<style>

.res-fail {
  background: linear-gradient(to right,#db4545 0,#db4545 10px,#fff 10px,#fff 100%) no-repeat;
}

.res-info {
  background: linear-gradient(to right,#007bff 0,#007bff 10px,#fff 10px,#fff 100%) no-repeat;
}

.res-success {
  background: linear-gradient(to right,#39aa56 0,#39aa56 10px,#fff 10px,#fff 100%) no-repeat;
}
.res-unkn {
  background: linear-gradient(to right,#eee 0,#eee 10px,#fff 10px,#fff 100%) no-repeat;
}
.res-warning {
  background: linear-gradient(to right,#ffc107 0,#ffc107 10px,#fff 10px,#fff 100%) no-repeat;
  font-style:italic;
}

.font-warning {
  color:#ffc107;
}
.font-success {
  color:#39aa56;
}
.font-info {
  color:#007bff;
}
.elem {
  border-radius: 2px;
    border: 1px solid #eaeaea;
    font-size: 16px;
    margin-bottom: .3rem;
}
</style>

<thead>
  <tr>

    <th>
      <i class="fa fa-circle-o" aria-hidden="true"></i>  Task id
    </th>
    <th>
      <i class="fa fa-code-fork" aria-hidden="true"></i>  Source
    </th>
    <th>
        <i class="fa fa-folder-o" aria-hidden="true"></i> Directory
    </th>
    <th>
        <i class="fa fa-cloud" aria-hidden="true"></i> Image
    </th>
    <th><i class="fa fa-clock-o" aria-hidden="true"></i> Started</th>

<!--    <th>
      Created
    </th>

    <th>
      End
    </th>-->
</tr>
</thead>
