
<table id="taskuser-data-table" class="table ">
  {{template "tasks/table_head" .}}

  <tbody>

    {{range .UserTasks}}
      {{template "tasks/row" .}}
    {{end}}

  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {

 $("time.timeago").timeago();
 $("#taskuser-data-table").on('draw.dt', function(){ jQuery("time.timeago").timeago(); });
 $('#taskuser-data-table').DataTable({"order": [[ 4, 'desc' ]], stateSave: true, stateDuration: -1});
} );
</script>
