{{template "base/head" .}}
{{template "base/menu" .}}

                <div class="col-md-12">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-dark">
                                  {{ if ne .LoggedUserID .User.ID }}
                                  {{if .IsAdmin}}{{template "user/auth/action" .}}{{end}}
                                  {{end}}
                                    <div class="media">
                                        <i class="align-self-center mr-3 fa fa-2x fa-user-o"></i>
                                        <div class="media-body">
                                            <h2 class="text-light display-6">{{.User.Name}}</h2>
                                            <p>ID: {{.User.ID}}</p>
                                        </div>
                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">
                                   <li class="list-group-item">
                                       <i class="fa fa-envelope"></i> E-mail <span class="badge  pull-right">{{.User.Email}}</span>
                                   </li>
                                    <li class="list-group-item">
                                         <i class="fa fa-group"></i> Role <span class="badge  pull-right"> {{if eq .User.Admin "yes"}}<i class="fa fa-rocket"></i>&nbsp; Admin {{else if eq .User.Manager "yes" }}<i class="fa fa-group"></i>&nbsp; Manager{{else}} <i class="fa fa-user"></i>&nbsp;User {{end}} </span>
                                    </li>

                                </ul>

                            </section>
                        </aside>
                    </div>

                {{ if eq .LoggedUserID .User.ID }}
                <div class="col-md-12">
                        <aside class="profile-nav alt">
                            <section class="card">
                              <div class="card-header user-header alt bg-dark text-light ">
                              Integrate your account with Third-party services


                              </div>

                              <div class="card-header ">

                              Login: <a target="_blank" href="/auth/github"><i class="fa fa-github"></i> </a>

                              </div>

                              <div class="card-header user-header alt bg-dark text-light ">
                              Current integrations:


                              </div>
                                <ul class="list-group list-group-flush">

                                  {{range .User.Identities}}
                                  <li class="list-group-item">
                                      <i class="fa fa-key"></i> {{.Provider}} <span class="badge  pull-right">{{.ID}}</span> <a target="_blank" href="/logout/{{.Provider}}"> Logout </a>
                                  </li>
                                  {{end}}

                                </ul>

                            </section>
                        </aside>
                    </div>
              {{ end }}


{{template "base/footer" .}}
