<tr class='elem'>


      <td class='res-info'>
          <a href="{{BuildURI "/pipeline/"}}{{.ID}}">   <span class="badge" ><h6> {{.ID}} </h6></span> </a>  </td>
  <td>{{.Name}}</td>

  <!--<td data-order="{{.StartTime}}"><time class="timeago" datetime="{{.StartTime}}">{{.StartTime}}</time></td>-->

  <td><time class="timeago" datetime="{{.CreatedTime}}">{{.CreatedTime}}</time></td>
<!--<td><time class="timeago" datetime="{{.EndTime}}">{{.EndTime}}</time></td>-->
</tr>
